<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TutorialsNinja Automation Suite">
    <listeners>
        <listener class-name="com.tutorialsninja.qa.Listeners.MyListeners" />
    </listeners>
    <test name="TutorialsNinja Tests" parallel="classes" thread-count="3">
        <classes>
            <class name="com.tutorialsninja.qa.testcases.HomePageTest"/>
<!--            <class name="com.tutorialsninja.qa.testcases.LoginTest"></class>-->
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
